<h3>{{viewTitle}}</h3>

<form action="/sensor" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{sensor._id}}">
    <div class="form-group">
        <label>온도</label>
        <input type="text" class="form-control" name="temper" placeholder="온도(°C) - 숫자만 입력" value="{{sensor.temper}}">
        <div class="text-danger"></div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>습도</label>
            <input type="text" class="form-control" name="humid" placeholder="습도(%) - 숫자만 입력" value="{{sensor.humid}}">
        </div>
        <div class="form-group col-md-6">
            <label>적외선</label>
            <input type="text" class="form-control" name="pir" placeholder="적외선 - 0또는 1 입력" value="{{sensor.pir}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> 입력</button>
        <a class="btn btn-secondary" href="/sensor/list"><i class="fa fa-list-alt"></i> 목록</a>
    </div>
</form>

